.squareSection {
  padding: 10rem 0;
  padding-top: 10rem;
  padding-bottom: 5rem;

  .squaresContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    max-width: 1000px;
    @media screen and (max-width: 700px) {
      gap: 4rem;
    }
    .square {
      width: calc(50% - 50px);
      background-color: white;
      position: relative;
      // Ensures that the content does not overflow the square

      // Ensures the square aspect ratio
      &:before {
        content: "";
        display: block;
        padding-bottom: 100%; // This maintains a 1:1 aspect ratio
      }

      .contentHolder {
        z-index: 2;
        position: absolute; // Changed to absolute to fit within the square
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .squareBg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--main-orange);
        z-index: 1;
        top: -1.5%;
        right: -1.5%;
        @media screen and (max-width: 700px) {
          top: -2%;
        }
      }
    }
    @media screen and (max-width: 700px) {
      flex-direction: column;
      .square {
        width: 100%;
        &:before {
          content: "";
          display: block;
          padding-bottom: 0%; // This maintains a 1:1 aspect ratio
        }
        .contentHolder {
          position: relative;
        }
      }
    }
  }
}
