.requestQuote {
  position: relative;

  margin: 10rem 0;
}
.requestQuoteContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 10rem 0;
  img {
    display: flex;
    position: absolute;
    top: -5%;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 70%;
    object-fit: cover;
  }
  .content {
    background-color: var(--main-green);
    color: white;
    width: 50%;

    z-index: 2;
    padding: 3rem;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;

    img {
      position: relative;
      width: 100%;
      height: auto;
      inset: 0;
    }
    .content {
      width: 100%;
    }
  }
}
